@charset "utf-8";
/*===================================================
  reset CSS
===================================================*/
html{overflow-y:scroll;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}hr,legend{display:none;}h1,h2,h3,h4,h5,h6{font-size:100%;}img,abbr,acronym,fieldset{border:0;}ul li{list-style-type:none;}a,label{cursor:pointer;}img{vertical-align:bottom;margin:0;padding:0;}

.clearfix:after {
  content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;
}
/*===================================================
  common
===================================================*/
body {
  font-size: 76%;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background: #fff;
}
.inner {
  width: 960px;
  margin: 0 auto;
}

/*----------------------------------------------------
  #global_nav
----------------------------------------------------*/

#global_nav ul {
  overflow: hidden;
}

#global_nav li {
  float: left;
  margin: 0 10px;
}

/*----------------------------------------------------
  #aside_nav
----------------------------------------------------*/

#aside_nav h1 {
  font-size: 134%;
  color: #fff;
  background: #e29f1d;
  text-align: right;
  border: 1px solid #b45f06;
  padding: 10px;
}

#aside_nav h2 {
  padding: 10px;
  font-size: 117%;
  background: #bbd7f8;
  border: 1px solid #2388db;
}

#aside_nav ul {
  padding: 15px;
  background: #999999;
  display: none;
}

#aside_nav ul a {
  color: #fff;
  font-size: 117%;
}